<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="./tweet.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <a href="/index.html">Inicio</a>
      <a href="/Templates/Tweet/Tweet.html">Tweet</a>
      <a href="/Templates/MayuscMinusc/Mayusc.html">Mayúsculas a minúsculas</a>
      <a href="/Templates/MayuscMinusc/Mayusc.html">validar Formulario</a>
    </nav>
  </header>
  <div class="container-tweet">
    <h2>Tweet</h2>
    <textarea maxlength="250" id="textChars" name="" id="" cols="30" rows="10"></textarea>
    <p id="leftChars">Quedan 250 caracteres</p>
    <span>
      Tweet publicado
    </span>
    <Button>Enviar</Button>
  </div>
  <script src="./app.js"></script>
</body>
</html>